$bg-color-header : #393939;
$bg-color-footer : #3A3A3A;
$bg-color-main1 : #FFFFFF;
$bg-color-main2 : #EEEEEE;

$font-color-light : #FFFFFF ;
$font-color-dark : #000000 ;

$btn-bg-color1 : #858585;
$btn-bg-color2 : #C9C9C9;

$bg-color-about : #D9D9D9;
$bg-color-body : #f3f3f3aa;

